---
title: Art
---


<div class='well' style='background-color:white;'>
  <ul id='my-gallery' class="media-grid">


  <% data.art.photos.each do |photo| %>
    <li>
      <a href="/images/art/big/<%= photo[:file] %>" title='<%= photo[:title] %>' rel="lightbox-journey">
        <div style='height:180px; width:180px; '>
          <div >
            <img class="thumbnail" style='margin:0 auto; max-width:180px; max-height:180px;' src="/images/art/middle/<%= photo[:file] %>" alt="" >
          </div>
        </div>
      </a>
    </li>
    <% end %>
  </ul>
</div>
