---
title: Welcome!
---

<div class="row">

<div class="span13">
<p>
  <img src="/images/misc/elya_main.jpg" style='margin-top: -10px; margin-left: -10px;'>
  </p>
<p>
  Hello welcome to my portfolio! My name is Ellina Lapovok (aka Elle), I am a designer living and working in Berlin. This site showcases work I've done for the past years for various clients. I do print,  web, motion graphics, UX and video. I am passionate and dedicated and love doing what I do. I will be happy to be part of your next project.
  </p>
  <span style='float:right;'> Ellina Lapovok (Elle)</span>
</div>


</div>
