---
title: Welcome!
participations:
  - '"Open Studio Show" Tacheles, Berlin'
  - '"Scary Doll – Metamorphosis" Performance, Open Studios, Tacheles, Berlin'
  - '"Video Dreams" Street Installation Melbourne.'
  - 'Work exhibited at Latrobe Valley Fine Art Gallery, La Trobe Valley'
  - '"Secrets of Europa" Stereographic Animation, Screened at Virtual Reality Theatre, Department of Physics and Supercomputing Swinburne University.'
  - 'Work exhibited at Rogers and Doyle Fine Art Gallery, 112, St. Kilda Rd., St. Kilda'
  - 'Video clip "Twist" Screened at the Duke, St. Kilda'
  - '"A Boy Called Marina"- Interactive CD-ROM'
  - '"When I Will Be Famous"- Interactive CD-ROM Show reel screened at VCA.'
  - '"Virtual Museum of Nostalgia"- interactive'
  - '"Antipodes"- short video'
  - '"Crime and Punishment", Theatrical interpretation /Happening, Phoenix Theatre, Elsternwick, Melbourne'
  - '"Graduate Show", Monash University, Melbourne'
  - 'Group Art Exhibitions: "Field of Vision" Monash University Caulfield East, Victoria'
  - '"Dont Die Now, Wait Until Saturday" Chiara Goya Gallery, Fitzroy, Victoria '
  - '"Group Show", Manyuong Gallery, Mount Eliza, Victoria'
  - '"Uncensored Peace Prize" Monash University Caulfield East, Victoria'
  - 'Open Day Exhibition Monash University Caulfield East, Victoria'
  - '"The Drinkers" displayed "Red Tongue" cafe & bar, Fitzroy, Victoria '
  - '"Lucato Peace Prize" Monash University Caulfield East, Victoria'
  - '"Traveling Children Show" Bulgaria'
---

<div class="row">

<div class="span6 text">

  <h3>Elya May (Ellina Lapovok)</h3>
  <p>is a painter, as well as  performance and multimedia artist.</p>
  <p>
    She was born in Former Soviet Union in Sverdlovsk (Ekaterinsburg)in 1977,
    attended  Art School from the early age of three and immigrated to
    Australia with her mother Rimma Lapovok in 1991,
    where she studied Fine Arts at Monash University in Melbourne,
    as well as Interactive Media at the Victorian College of the Arts.
  </p>
  <p> Elya also is a graduate of Masters in Multimedia from Swinburne University.
  After finishing her Master Degree Elya worked as a graphic designer in a number of Astralian componies including, Gillespies, Sensis, and Alerton Australia.
  Her artwork was exhibited in Chiara Goya Galleries and Manyoung Gallery.
  </p>
  <p>In 2008 she has moved to Berlin with her two children.</p>
</div>

<div class="span5 text">
  <p>
<img class='photo_main' src="/images/misc/elya_main_photo.jpg">
  </p>
</div>
</div>
